<nav>
    <ul>
        <li><a href="/snippet">See all snippets</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
<div class="app-intro">
    <h1> Snippet Server v2.0</h1>
    <p> A web application for persistent handling of programming code snippets using Node.js, Express.js, template
        engine
        handlbar and an object data modeling library for MongoDB called Mongoose.
        REST API was implemented on the backend with real time Create, Read, Update, and Delete operations </p>
</div>